<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{page.title}} — Charles Dai</title>
        <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}?v=2">
    </head>
    <body>
        <header>
            <nav>
                <a href="{{ '/' | relative_url }}">Home</a>
                <a href="{{ '/blog.html' | relative_url }}">Blog</a>
                <a href="{{ '/CV.pdf' | relative_url }}">My CV</a>
                <a href="https://github.com/daicharlesyc">Github</a>
            </nav>
        </header>
        <main>
            {{ content }}
        </main>
    </body>

</html>